.destPage {
  background: url("/destination/background-destination-desktop.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination_container {
  position: relative;
  width: 100vw;
  max-width: 1440px;
  min-width: 320px;
}

.destPageContent {
  display: grid;
  gap: 2rem;
}

/* --------------- */
.destinationNav {
  background: none;
  backdrop-filter: blur(0);
  position: absolute;
  top: 2em;
  left: -1em;
  height: 2rem;
  padding: 0;
}

.destinationNav ul {
  text-align: start;
  margin: 0;
  padding-inline: 0;
}

.destinationNav ul li {
  padding-left: 2px;
  color: rgb(var(--col-mid));
}
/* --------------- */

.destination {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  min-width: 320px;
  padding-inline: 2rem;
  /* flex-wrap: wrap; */
}

.destination_img {
  display: grid;
  max-width: 445px;
  text-align: center;
  place-items: center;
}

.destination_img img {
  height: 90%;
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
}

.destination_txt {
  max-width: 445px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.destination_name {
  font-size: var(--font-700);
  margin-top: 0.5em;
}

.destination_desc {
  /* width: 80%; */
  margin-top: -2em;
  margin-bottom: 0.3em;
  min-height: 20vmin;
}

.destination_foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot_item_value {
  font-family: var(--ff-sec);
  color: rgb(var(--col-text-pri));
  text-transform: uppercase;
  font-size: var(--font-400);
  margin-top: 1rem;
}

@media screen and (max-width: 820px) {
  .destPage {
    align-items: stretch;
    background: url("/destination/background-destination-tablet.jpg");
  }

  .page_title {
    height: fit-content;
    margin-top: 5vmin;
  }

  .destination_container {
    height: 80vh;
  }

  .destination {
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .destinationNav {
    /* position: relative; */
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -0.3em;
  }

  .destination_txt {
    /* height: 55%; */
    max-width: 70vw;
    transform: translateY(-1rem);
    padding-top: 2rem;
  }

  .destination_txt hr {
    margin-top: -3.5rem;
  }

  .subheading2 {
    font-size: calc(var(--font-200) + 0.25rem);
  }

  .destination_img {
    width: 300px;
  }

  .destination_img img {
    width: 100%;
    object-fit: contain;
  }
}

/* mobile */
@media screen and (max-width: 450px) {
  .destPage {
    align-items: stretch;
    background: url("/destination/background-destination-mobile.jpg");
  }

  .page_title {
    transform: translateY(-15px);
  }

  .destination {
    height: fit-content;
    max-height: 70vh;
  }

  .destPageContent {
    height: fit-content;
  }

  .destination_img {
    width: 170px;
    padding: 1rem 0;
  }

  .destination_txt {
    font-size: 15px;
    max-width: 90vw;
  }

  .destination_name {
    font-size: var(--font-600);
  }

  .destination_txt hr {
    display: none;
  }

  .destinationNav {
    top: -10px;
  }

  .destinationNav ul li,
  .subheading2 {
    font-size: var(--font-100);
  }

  .destinationNav ul li:has(.active) {
    font-size: var(--font-100);
    border-bottom-width: 2px;
  }

  .destination_foot {
    border-top: 1px solid rgba(var(--col-mid), 0.5);
    padding: 1rem 0.5rem;
  }

  .foot_item {
    display: grid;
    place-items: center;
    gap: 10px;
  }

  .foot_item * {
    margin: 0;
  }
}
