.crewPage {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  width: 100%;
  display: grid;
}

.crewPage .page_title {
  display: flex;
  align-items: center;
  align-self: end;
  margin-top: 2rem;
  margin-left: 6em;
  max-width: 1100px;
}

.crew_container {
  max-height: 80vh;
  height: fit-content;
  align-self: end;
}

.crew_member {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-inline: 3em;
  flex-wrap: wrap;
  gap: 2em;
}

.memberContent {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 350px;
  justify-content: space-between;
  height: 50vmin;
}

.memberContent_text {
  display: grid;
  gap: 0.5em;
  margin-bottom: 2rem;
}

.member_name {
  font-size: var(--font-600);
  width: max-content;
  margin-bottom: 0.5em;
}

.crew_member_img {
  height: 70vmin;
  min-width: 300px;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 40%;
}

.crew_member_img img {
  height: 100%;
}

.member_role {
  color: rgb(var(--col-pri-txt), 0.4);
  font-size: var(--font-500);
}

/* ----------------- */

.crewNav ul {
  display: flex;
  font-size: var(--font-100);
  gap: 1.25em;
}

.crewNav li {
  cursor: pointer;
  box-sizing: content-box;
  padding: 1em;
  transition: background-color 200ms ease;
  background-color: rgba(var(--col-pri-txt), 0.2);
  border-radius: 50%;
}

.crewNav li:hover {
  background-color: rgba(var(--col-hov), 0.7);
}

.crewNav ul li:has(.active) {
  background-color: rgb(var(--col-pri-txt));
}

@media screen and (max-width: 820px) {
  .crewPage {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }

  .crewPage .page_title {
    margin: 0 auto;
    width: 90%;
  }

  .crewNav ul li {
    width: 10px;
    height: 10px;
    padding: 0;
  }

  .crew_member {
    height: 80vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .memberContent {
    max-width: none;
    width: 460px;
    justify-content: start;
    text-align: center;
    height: fit-content;
    align-items: center;
  }

  .crew_member .member_bio {
    min-height: 115px;
  }

  .member_role {
    font-size: calc(var(--font-500) - 0.5rem);
  }

  .crew_member .member_name {
    font-size: calc(var(--font-500) + 0.5rem);
    margin: auto;
  }

  .crew_member_img {
    height: 65vmin;
    width: fit-content;
  }

  .crew_member_img img {
    height: 110%;
    /* width: 200%; */
  }
}
@media screen and (max-width: 450px) {
  .crewPage {
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
    max-width: 100vw;
  }

  .crewPage .subtitle {
    width: fit-content;
  }

  .memberContent {
    max-width: 100vw;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .crew_member {
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .crew_member_img {
    max-height: 200px;
  }

  .member_role {
    font-size: var(--font-200);
  }

  .crew_member .member_name {
    font-size: calc(var(--font-400) - 0.25rem);
  }

  .crew_member .member_bio,
  p {
    font-size: 15px;
    line-height: 1.4;
    max-width: 90vw;
    color: rgb(var(--col-mid), 0.8);
  }

  .crew_member_img {
    border-bottom: 1px solid rgb(var(--col-mid), 0.5);
  }
}
