.navBar {
  font-size: var(--font-200);
  text-transform: uppercase;
  letter-spacing: 2.7px;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(var(--col-hov), 0.1);
  backdrop-filter: blur(10px);
  box-sizing: content-box;
  padding-inline: 5.25rem;
}

.navBar ul,
.navBar ol {
  box-sizing: border-box;
  margin-right: 7vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  height: 100%;
  padding-inline: 1.5em;
}

.navBar ul li,
.navBar ol li {
  cursor: pointer;
  margin: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom-color: rgba(var(--col-hov), 0);
  transition: border-bottom-color 500ms;
}

.navBar ul li:hover,
.navBar ol li:hover {
  height: 100%;
  border-block: 3px solid transparent;
  border-bottom-color: rgb(var(--col-hov), 1);
}

.navBar ul li:has(.active),
.navBar ol li:has(.active) {
  height: 100%;
  border-block: 3px solid transparent;
  border-bottom-color: rgb(var(--col-pri-txt));
  color: rgb(var(--col-pri-txt));
}

@media screen and (max-width: 820px) {
  .navBar:not(.destinationNav) {
    width: fit-content;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .navBar ul,
  .navBar ol {
    margin: 0;
    gap: 1em;
    height: 100%;
    padding-inline: 1.5em;
  }
}

@media screen and (max-width: 450px) {
  .navBar:not(.destinationNav) {
    position: fixed;
    left: 100%;
    width: 70vw;
    height: 100vh;
    top: 0;
    align-items: start;
    transition: left 100ms ease-in;
  }

  .navOpen {
    left: 30% !important; /*opened*/
  }

  .navBar:not(.destinationNav) ol {
    margin-top: 15vh;
    flex-direction: column;
    height: fit-content;
    justify-content: centert;
    width: 100%;
    padding: 0;
    padding-left: 30px;
  }

  .navBar:not(.destinationNav) ol li {
    height: fit-content;
    border-block: none !important;
    border-block: 3px solid transparent;
    border-right-color: rgba(var(--col-hov), 0);
    margin: 0;
    width: 100%;
    padding-block: 0.85em;
  }

  .navBar:not(.destinationNav) ol li:hover {
    height: 100%;
    border-block: none !important;
    border-right: 3px solid transparent;
    border-right-color: rgb(var(--col-hov), 1);
  }

  .navBar:not(.destinationNav) ol li:has(.active) {
    height: 100%;
    border-block: none !important;
    border-right: 3px solid transparent;
    border-right-color: rgb(var(--col-pri-txt));
    color: rgb(var(--col-pri-txt));
  }
}
